{%extends 'base.html'%}
{%block title%}
	Todo-Application
{%endblock%}
{%block content%}
	<div class="container h-100 d-flex justify-content-center">
		<p>
			{% if values %}
			<ul>
				{%for v in values%}
					<li>{{v.data}}<a href='delete/{{v._id}}'> Delete</a></li>
				{%endfor%}
			<ul>
			{% else %}
				<p>Create a todo</p>
			{% endif %}
		</p>
	</div>
	<div class="container h-100 d-flex justify-content-center">
        <form action="/" method="POST" class="form-group">
            <input type="text" name="intodo" id="content">
            <input type="submit" value="Add Todo" class="btn btn-success">
        </form>
    </div>
{%endblock%}